@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
body {
  background-color: #333;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.content {
  overflow: hidden;
  height: 80%;
  width: 800px;
  background-color: #fff;
  padding: 20px;

  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.content img {
  height: 50%;
}

.text p {
  line-height: 2rem;
  font-size: 2rem;
}
.text h1 {
  font-size: 3rem;
}

.botoes {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.botoes button {
  padding: 10px 25px;
  border-radius: 10px;
  border: purple solid 2px;
  background: linear-gradient(45deg, #800080, #a020f0, #dda0dd);
  font-size: 2rem;
  font-family: sans-serif;
}

@media (max-width: 500px) {
  .content img {
    height: 35%;
  }

  .text p {
    font-size: 1rem;
  }
  .text h1 {
    font-size: 1.4rem;
  }

  .botoes {
    width: 80%;
  }

  .botoes button {
    font-size: 1rem;
  }
}

@media (max-width: 720px) {
  .content img {
    height: 45%;
  }

  .text p {
    line-height: 1.5rem;
    font-size: 1.4rem;
  }
  .text h1 {
    font-size: 1.8rem;
  }

  .botoes {
    width: 80%;
    justify-content: center;
    gap: 50px;
  }

  .botoes button {
    padding: 8px 20px;
    font-size: 1rem;
  }
}
@media (max-width: 1000px) {
  .content {
    width: 80%;
  }
  .content img {
    height: 50%;
  }

  .text p {
    font-size: 1.4rem;
  }
  .text h1 {
    font-size: 2rem;
  }
  .botoes {
    width: 50%;
  }

  .botoes button {
    font-size: 1.4rem;
  }
}
